//- Icon box left
mixin icon-box-left(obj)
  //- Icon box horizontal left
  article.icon-box-horizontal
    .unit.unit-horizontal.unit-spacing-sm
      .unit-left
        span.icon.icon-primary(class=obj.icon)
      .unit-body
        h5.prefix-lg-right--10: a(href='#')=obj.header
        ul
          li
            span.glyphicon.glyphicon-chevron-right
            span.unit-body=obj.text
            if obj.text1 != null
                li
                  span.glyphicon.glyphicon-chevron-right
                  span.unit-body.offset-top-20=obj.text1
            if obj.text2 != null
                li
                  span.glyphicon.glyphicon-chevron-right
                  span.unit-body.offset-top-20=obj.text2
            if obj.text3 != null
              li
                span.glyphicon.glyphicon-chevron-right
                span.unit-body.offset-top-20=obj.text3
            if obj.text4 != null
              li
                span.glyphicon.glyphicon-chevron-right
                span.unit-body.offset-top-20=obj.text4
            if obj.text5 != null
              li
                span.glyphicon.glyphicon-chevron-right
                span.unit-body.offset-top-20=obj.text5
            if obj.text6 != null
              li
                span.glyphicon.glyphicon-chevron-right
                span.unit-body.offset-top-20=obj.text6
  ='\n'
